@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

$clr-dark: rgb(11, 20, 38);

*{
    font-family: 'Lato', sans-serif !important;
}
body{
    user-select: none;
    #root{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif !important;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(117, 117, 117);
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background-color: silver;
}

// ******************************* components *******************************
.header{
    position: sticky;
    top: 0;
    background-color: $clr-dark;
    color: white;
    .search-bar{
        max-width: 300px;
        &::placeholder{
            color: white;
        }
    }
    .active{
        color:cornflowerblue;
    }
}
.footer{
    background-color: $clr-dark;
    color: white;
    .icons{
        font-size: 1.5rem;
    }
}

.slides{
    .slide-item{
        position: relative;
        width: 300px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 8px;
        margin: 0.5rem 1rem;
        overflow: hidden;
        &:hover{
            border-color: cyan;
        }
    }
    .bg{
        background-size: cover;
        height: 200px;
        transition: all 0.2s;
        width: auto;
        &:hover{
            scale: 1.1;
        }
    }
    .info{
        background: linear-gradient(to top, black, transparent);
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}


// pages
.home-page{
    background-color: $clr-dark;
    color: white;
}


// ******************************* overrides *******************************


// ******************************* utils *******************************